/* COMMON */
.link-active {
  text-decoration: none;
}

.address {
  font-style: normal;
  line-height: 135%;
}

.cover::before,
.card::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: #00000099;
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: var(--header-padding, 93.5px 50px);
  font-size: var(--header-n-footer-font-size, 0.9em);
  line-height: 100%;
  letter-spacing: 0.01em;
}

.header__links-list {
  display: flex;
  gap: 31.5px;
  text-transform: lowercase;
  list-style: circle;
}

.header__links-list .header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  display: block;
  inline-size: var(--logo-size, 148px);
}

.header .address {
  justify-self: end;
  max-inline-size: 240px;
}

/* COVER */
.cover {
  position: relative;
  margin-block-end: var(--cover-margin, 180px);
  padding: var(--cover-padding, 165px 50px 50px);
  background: url(../images/cover.jpg) no-repeat center / cover;
  min-block-size: 68.8%;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-end: var(--cover-title-margin, 106px);
  color: var(--accent-color, #fff);
  font-size: var(--cover-title-font-size, 100px);
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text:nth-child(2) {
  text-align: center;
}

.aligned-text:nth-child(3) {
  text-align: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-color, #fff);
  font-size: var(--cover-description-font-size, 22px);
  line-height: calc(28% / 22 * 100);
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 0.84em;
}

.bet-button {
  border-color: currentColor;
  padding: 9.5px 30.5px;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.2s 0.1s;
}

.bet-button:hover {
  background-color: #ffffff1a;
}

/* LOTS */
.lots {
  margin-block-end: var(--lots-margin, 120px);
  padding-inline: 24px;
  line-height: 120%;
}

.lots__heading {
  padding-inline-start: 40px;
  padding-block-end: 27px;
  font-size: var(--main-heading-font-size, 2em);
  line-height: 120%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-block-end: 30px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  color: var(--accent-color, #fff);
  max-inline-size: var(--card--width, 334px);
  min-block-size: 596px;
}

.card-link {
  position: relative;
  display: block;
  text-decoration: none;
  transition: scale 0.2s 0.1s;
  cursor: default;
  block-size: 100%;
}

.card-link:hover {
  scale: 1.05;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
  block-size: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card__title {
  font-size: 1.1em;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.lots__look-more-link {
  margin-inline-start: 40px;
  border-block-end: 1px solid var(--main-color, #000);
  text-decoration: none;
  transition: border 0.2s 0.1s;
}

.lots__look-more-link:hover {
  border: none;
}

/* ABOUT */
.about {
  display: grid;
  grid-template-columns: var(--card--width, 334px) auto;
  gap: 25px;
  margin-block-end: min(16.4vw, 180px);
  padding-inline: 26px;
  min-block-size: 595px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: var(--about-logo-left-margin, 2.35em);
  margin-block-start: 1.75em;
  border-radius: 50%;
  background-color: var(--main-color, #000);
  inline-size: min(21.8vw, 240px);
  aspect-ratio: 1;
}

.about__logo-image {
  inline-size: var(--logo-size, 148px);
}

.about__column {
  align-self: end;
}

.about__title {
  margin-block-end: var(--about-title-margin, 100px);
  font-size: var(--main-heading-font-size, 2em);
  line-height: 117.5%;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 120%;
}

/* FOOTER */
.footer {
  display: grid;
  grid-template-columns: 1fr 165px 1fr;
  margin-block-end: 82px;
  padding-inline: var(--footer-padding, 50px);
  font-size: var(--header-n-footer-font-size, 0.9em);
}

.footer .address {
  max-inline-size: 264px;
}

.footer__menu-list {
  line-height: 117.5%;
  text-align: center;
  list-style: none;
}

.footer .address a,
.footer__menu-link {
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: var(--footer-social-icon, 48px);
  list-style: none;
}

.footer__social-icon {
  cursor: pointer;
  inline-size: var(--footer-social-icon, 48px);
}

/* MOBILE */
@media (width <= 820px) {
  :root {
    --lots-margin: 90px;
  }

  .header .address {
    text-align: end;
  }

  .about {
    grid-template-columns: 1fr 2fr;
  }
}

@media (width <= 430px) {
  :root {
    --main-heading-font-size: 1.5em;
    --header-n-footer-font-size: 0.7em;
    --about-title-margin: 1.5em;
    --about-logo-left-margin: 0;
  }

  .header__links-list {
    flex-direction: column;
    gap: 5px;
    padding-inline-start: 5px;
  }

  .footer {
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }

  .footer__menu-list {
    text-align: end;
  }

  .footer__social-list {
    grid-column: 1 / 3;
    justify-self: center;
  }
}
