:root {
  --main-color: #000;
  --accent-color: #fff;
  --main-heading-font-size: 2em;
  --main-font-size: clamp(1rem, 0.8707rem + 0.5517vw, 1.25rem);
  --header-n-footer-font-size: 0.9em;
  --header-padding: clamp(32px, 32px + (93.5 - 32) * ((100vw - 375px) / (1100 - 375)), 93.5px) clamp(17px, 17px + (50 - 17) * ((100vw - 375px) / (1100 - 375)), 50px);
  --logo-size: min(13.5vw, 148px);
  --cover-padding: clamp(55px, 55px + (165 - 55) * ((100vw - 375px) / (1100 - 375)), 165px) clamp(18px, 18px + (50 - 18) * ((100vw - 375px) / (1100 - 375)), 50px) clamp(18px, 18px + (50 - 18) * ((100vw - 375px) / (1100 - 375)), 50px);
  --cover-margin: clamp(61px, 61px + (180 - 61) * ((100vw - 375px) / (1100 - 375)), 180px);
  --cover-title-margin: clamp(36px, 36px + (106 - 36) * ((100vw - 375px) / (1100 - 375)), 106px);
  --cover-title-font-size: clamp(2.125rem, -0.0086rem + 9.1034vw, 6.25rem);;
  --cover-description-font-size: clamp(0.4375rem, -0.0474rem + 2.069vw, 1.375rem);
  --lots-margin: 120px;
  --card--width: 334px;
  --about-title-margin: min(2.5em, 100px);
  --about-logo-left-margin: 2.35em;
  --footer-padding: clamp(17px, 17px + (50 - 17) * ((100vw - 375px) / (1100 - 375)), 50px);
  --footer-social-icon: calc(48em / 18);
}